@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  /* Cores */
  --color-text: #ffffff;
  --color-text-hover: #7501d9;
  --color-bg-primary: #0d0a87;
  --color-bg-secondary: #500195;
  --color-bg-tertiary: #7501d9;
  --color-btn-whatsapp: #102033;
  --color-text-form: #4940cd;
  --color-bg-contact-light: #6482d6;
  --color-bg-contact-dark: #88b4f7;
  /* Gradiente */
  --bg-gradient: #0d0a87, #500195, #7501d9;
  --bg-gradient-form: #6482d6, #88b4f7;
  /* Tipografia */
  --font-title: "Mulish", serif;
  --font-text: "Roboto", sans-serif;
  --font-logo: "Georgia", serif;
}
body,
html {
  min-height: 100vh;
  min-width: 100%;
  background: linear-gradient(var(--bg-gradient));
  position: relative;
}
.logo {
  font: normal bolder 44px var(--font-logo);
  color: var(--color-text);
  display: flex;
  align-items: center;
}
.logo a:hover {
  color: white !important;
}
button {
  font: normal 600 1em var(--font-button);
  color: var(--color-text);
}
/* NAVBAR START */
nav {
  height: 148px;
}
nav .logo span {
  text-shadow: 0px 2.5px 0px rgba(255, 255, 255, 0.479);
}
nav .nav-link {
  color: var(--color-text);
  font: normal bolder 1.3em var(--font-title);
}
nav .container {
  justify-content: center !important;
}
nav .navbar-collapse {
  align-self: flex-end;
  flex-grow: 0;
}
.navbar-nav .nav-item .nav-link.active,
.navbar-nav .nav-item:hover .nav-link {
  color: var(--color-text-hover);
}
.navbar-brand:focus,
.navbar-brand:hover {
  color: var(--color-text);
}
/* NAVBAR END */
/* HOME START */
.row {
  color: var(--color-text);
  font: normal normal 1.2em var(--font-text);
}
.img-fluid.rounded-circle {
  transition: all 300ms ease-in-out;
  cursor: pointer;
}
/* HOME END */
/* FOOTER START */
footer {
  background-color: var(--color-bg-primary);
  height: 200px;
  color: var(--color-text);
}
footer .col-12 {
  background-color: var(--color-bg-tertiary);
}
.btn-success{
  position: fixed;
  right: 10px ;
  bottom: 10px;
}
/* FOOTER END */
@media (max-width: 768px) {
  footer .col-md-6,
  footer .col-12 {
    text-align: center !important;
  }
}