<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grace English</title>
    <link rel="shortcut icon" href="../images/logo.png" type="image/x-icon" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <button type="button" class="btn btn-success">
      <img
        src="../images/whatsapp_2504957.png"
        alt="icone-do-whatsapp"
        width="25"
      />
      Fale Conosco
    </button>
    <nav class="navbar navbar-expand-lg mb-4 shadow-sm">
      <div class="container col-11">
        <a class="navbar-brand logo" href="#">
          <img
            src="../images/logo.png"
            alt="Logo do Grace English"
            class="img-fluid"
          />
          <div class="d-flex flex-column text-center">
            <span>Grace</span>
            <span>English</span>
          </div>
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasRight"
          aria-controls="offcanvasRight"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="bi bi-list text-light"></i>
        </button>
        <div class="collapse navbar-collapse" id="collapse">
          <ul class="navbar-nav gap-3">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="home.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="the-teacher.html">The teacher</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="cursos.html">Cursos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="student-area.html">Área do Aluno</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">Contato</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="cadastre.html">Cadastro</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Offcanva -->
    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvasRight"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
        <button
          type="button"
          class="btn-close btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        >
          <i class="bi bi-x-lg text-white"></i>
        </button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav nav-underline me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link"
              aria-current="page"
              href="home.html"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <i class="bi bi-house"></i> Home
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="the-teacher.html"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <i class="bi bi-card-text"></i> The Theacher
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="cursos.html"
              data-aos="fade-up"
              data-aos-delay="300"
            >
              <i class="bi bi-motherboard"></i> Cursos
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="student-area.html"
              data-aos="fade-up"
              data-aos-delay="400"
            >
              <i class="bi bi-window-fullscreen"></i> Área do Aluno
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="contact.html"
              data-aos="fade-up"
              data-aos-delay="600"
            >
              <i class="bi bi-wechat"></i> Contato
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="cadastre.html"
              data-aos="fade-up"
              data-aos-delay="600"
            >
              <i class="bi bi-person-lines-fill"></i> Cadastro
            </a>
          </li>
        </ul>
      </div>
    </div>
    <main class="mx-5 d-flex gap-4">
      <div class="row flex-column">
        <div class="container text-light text-center mb-5">
          <h3 class="text-uppercase">Facilidade de Aprendizagem</h3>
          <p>
            As crianças têm uma capacidade incrível de aprender novas línguas de
            forma mais natural e rápida do que os adultos. Elas absorvem novos
            sons e estruturas gramaticais com mais facilidade.
          </p>
        </div>
        <div class="container text-light text-center mb-5">
          <h3 class="text-uppercase">
            Oportunidades acadêmicas e profissionais
          </h3>
          <p>
            ​O inglês é uma língua global, amplamente utilizada em negócios,
            ciência, tecnologia e entretenimento. Ter fluência em inglês pode
            abrir portas para melhores oportunidades educacionais e de carreira
            no futuro.
          </p>
        </div>
        <div class="container text-light text-center">
          <h3 class="text-uppercase">
            Acesso a recursos
          </h3>
          <p>
            ​Muitas das melhores fontes de informação, como livros, filmes,
            programas de TV e recursos educacionais, estão disponíveis em
            inglês. Ter conhecimento da língua pode ampliar o acesso a esses
            materiais.
          </p>
        </div>
      </div>
      <section class="row col-6 m-auto justify-content-center mb-5" id="formContainer">
        <form
          class="row align-items-center text-dark needs-validation"
          id="formCadastre"
          method="post"
          novalidate
        >
          <div class="text-center mb-5">
            <h1 class="display-6 fw-semibold m-0 mt-4">
              Preencha o formulário
            </h1>
          </div>
          <div class="container">
            <div class="row row-cols-1 row-cols-lg-2 mb-4">
              <div class="col mb-4">
                <label for="name" class="form-label fs-5"
                  >Nome do Aluno *</label
                >
                <!-- Name student -->
                <input
                  type="text"
                  class="form-control stringTypeInput"
                  placeholder="Nome completo"
                  id="nameStudentCadastre"
                  aria-label="Nome completo"
                  required
                />
                <div class="valid-feedback">Parece bom!</div>
                <div class="invalid-feedback">Esse campo é obrigatório.</div>
              </div>
              <div class="col mb-4">
                <label for="name" class="form-label fs-5"
                  >Data de Nascimento do Aluno</label
                >
                <div class="row px-3">
                  <!-- Day -->
                  <input
                    type="text"
                    class="form-control col numberTypeInput"
                    placeholder="Day"
                    id="dayBirthCadastre"
                    aria-label="Day"
                  />
                  <!-- Month -->
                  <select class="form-select col mx-3" id="monthSelect">
                    <option selected disabled value="">Mounth</option>
                    <option value="1">Janeiro</option>
                    <option value="2">Fevereiro</option>
                    <option value="3">Março</option>
                    <option value="4">Abril</option>
                    <option value="5">Maio</option>
                    <option value="6">Junho</option>
                    <option value="7">Julho</option>
                    <option value="8">Agosto</option>
                    <option value="9">Setembro</option>
                    <option value="10">Outubro</option>
                    <option value="11">Novembro</option>
                    <option value="12">Dezembro</option>
                  </select>

                  <!-- Year -->
                  <input
                    type="text"
                    class="form-control col numberTypeInput"
                    placeholder="Year"
                    id="yearBirthCadastre"
                    aria-label="Year"
                  />
                </div>
              </div>
              <div class="col mb-4">
                <label for="name" class="form-label fs-5">Nome da Mãe *</label>
                <!--w Mother name -->
                <input
                  type="text"
                  class="form-control stringTypeInput"
                  id="nameMotherCadastre"
                  placeholder="Nome completo"
                  required
                />
                <div class="valid-feedback">Parece bom!</div>
                <div class="invalid-feedback">Esse campo é obrigatório.</div>
              </div>
              <div class="col mb-4">
                <label for="name" class="form-label fs-5">Nome do Pai *</label>
                <!-- Father name -->
                <input
                  type="text"
                  class="form-control stringTypeInput"
                  id="nameFatherCadastre"
                  placeholder="Nome completo"
                  required
                />
                <div class="valid-feedback">Parece bom!</div>
                <div class="invalid-feedback">Esse campo é obrigatório.</div>
              </div>
              <div class="col mb-4">
                <label for="name" class="form-label fs-5"
                  >Nome do Responsável</label
                >
                <!-- Responsible name-->
                <input
                  type="text"
                  class="form-control stringTypeInput"
                  id="nameResponsibleCadastre"
                />
              </div>
              <div class="col mb-4">
                <label for="name" class="form-label fs-5"
                  >CPF do Responsável</label
                >
                <!-- CPF reponsible -->
                <input
                  type="text"
                  class="form-control numberTypeInput"
                  id="cpfResponsibleCadastre"
                />
              </div>
              <div class="col mb-4">
                <label for="name" class="form-label fs-5"
                  >Email do Responsável</label
                >
                <!-- Email responsible -->
                <input
                  type="email"
                  class="form-control"
                  id="emailResponsibleCadastre"
                />
              </div>
              <div class="col">
                <label for="name" class="form-label fs-5"
                  >Telefone do Responsável</label
                >
                <!-- Tel responsible -->
                <input
                  type="text"
                  class="form-control numberTypeInput"
                  id="telResponsibleCadastre"
                />
              </div>
            </div>
            <div class="row px-3 mb-4">
              <p class="p-0">Em que faixa etária o estudante se enquadra? *</p>

              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="ageGroup"
                  value="kids5-6y"
                  id="kids5-6y"
                  required
                />
                <label class="form-label" for="kids5-6y"> 5 a 6 anos </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="ageGroup"
                  value="kids7-10y"
                  id="kids7-10y"
                />
                <label class="form-label" for="kids7-10y"> 7 a 10 anos </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="ageGroup"
                  value="kids11-13y"
                  id="kids11-13y"
                />
                <label class="form-label" for="kids11-13y">
                  11 a 13 anos
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="ageGroup"
                  value="14yorMore"
                  id="14yorMore"
                />
                <label class="form-label" for="14yorMore">
                  Acima de 14 anos
                </label>
                <div class="valid-feedback">Parece bom!</div>
                <div class="invalid-feedback">
                  Por favor, escolha uma opção.
                </div>
              </div>
            </div>
            <div class="row px-3">
              <p class="p-0">
                Voce concorda que seja usado material cristão nas aulas como
                versos biblicos por exemplo? (A memorização de versos ajuda no
                desenvolvimento da lingua.) *
              </p>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  value="yes"
                  name="terms"
                  id="yes"
                  required
                />
                <label class="form-label" for="yes"> Sim </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  value="not"
                  name="terms"
                  id="no"
                />
                <label class="form-label" for="no"> Não </label>
                <div class="valid-feedback">Parece bom!</div>
                <div class="invalid-feedback">
                  Por favor, escolha uma opção.
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-center">
              <input
                type="submit"
                value="Enviar"
                class="btn btn-primary w-100"
              />
            </div>
            <div class="text-center d-none" id="submitForm">
              <span class="fst-italic fs-5">Obrigado. Recebemos seu formulário!</span>
            </div>
          </div>
        </form>
      </section>
      <div class="row flex-column">
        <div class="container text-light text-center mb-5">
          <h3 class="text-uppercase">Desenvolvimento Cognitivo</h3>
          <p>
            Aprender uma segunda língua pode melhorar habilidades cognitivas, como resolução de problemas, pensamento crítico e criatividade. Estudos mostram que crianças bilíngues tendem a ter melhor desempenho em tarefas que exigem multitarefa e atenção.
          </p>
        </div>
        <div class="container text-light text-center mb-5">
          <h3 class="text-uppercase">Cultura e Comunicação</h3>
          <p>
            Aprender inglês permite que as crianças se conectem com pessoas de diferentes culturas e países. Isso pode aumentar a compreensão cultural e promover a tolerância e o respeito pela diversidade.
          </p>
        </div>
        <div class="container text-light text-center">
          <h3 class="text-uppercase">Confiança e autoestima</h3>
          <p>
            Dominar uma segunda língua pode aumentar a confiança e a autoestima das crianças, pois elas se sentem mais capazes e preparadas para enfrentar desafios.
          </p>
        </div>
      </div>
    </main>
    <footer
      class="container-fluid d-flex flex-column justify-content-center p-0"
    >
      <div class="row container align-items-center m-auto gx-5">
        <div class="col-md-6">
          <ul class="nav flex-column">
            <h5 class="display-6 fs-5 fw-semibold">Siga - nos:</h5>
            <li class="nav-item">
              <a
                href="http://instagram.com"
                class="nav-link text-light"
                target="_blank"
                rel="noopener noreferrer"
              >
                <img
                  src="../images/instagram.png"
                  alt="icone-do-instagram"
                  width="25"
                />
                @graceenglish
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-6 text-center">
          <p class="display-6 fs-5 m-0">Contato: (33) 99817 - 0388</p>
        </div>
      </div>
      <div class="col-12 m-auto text-start p-2">
        <div class="container col-7">
          <small class="fw-semibold">© 2025 by Grace English.</small>
        </div>
      </div>
    </footer>
    <div class="toast-container position-fixed bottom-0 start-0 p-3">
      <div
        id="liveToast"
        class="toast"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
        style="box-shadow: 7px 7px 7px rgba(255, 0, 0, 0.45)"
      >
        <div class="toast-header">
          <svg
            class="bd-placeholder-img rounded me-2"
            width="20"
            height="20"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
            preserveAspectRatio="xMidYMid slice"
            focusable="false"
          >
            <rect width="100%" height="100%" fill="#dc3545"></rect>
          </svg>
          <strong class="me-auto">Error</strong>
          <small>1s</small>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="toast"
            aria-label="Close"
          ></button>
        </div>
        <div class="toast-body">
          Por favor, preencha todos os campos corretamente
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
    <script src="../scripts/cadastre.js"></script>
    <script>
      (() => {
        "use strict";
        const forms = document.querySelectorAll(".needs-validation");
        Array.from(forms).forEach((form) => {
          form.addEventListener(
            "submit",
            (event) => {
              if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
              }

              form.classList.add("was-validated");
            },
            false
          );
        });
      })();
    </script>
  </body>
</html>
